body {
    margin: 0;
    background-color: #005aa3;
}

p, a {
    font-family: sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #004e8e;
    height: 31px;
    width: 100%;
    border-bottom: 1px solid #3a8bcc;
    text-align: center;
}

.header p, .divider, .iconLinks {
    color: white;
    font-size: 70%;
    display: inline-block;
}

.content-main {
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(9,13,94,0.68);
    -moz-box-shadow: 0px 0px 6px 3px rgba(9,13,94,0.68);
    box-shadow: 0px 0px 6px 3px rgba(9,13,94,0.68);
    background-image: url(images/watermark.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.content-main p {
    line-height: 150%;
}


.headNav {
        padding-top: 30px;
        margin: 0 4% 20px 4%;  
}

.headNav a {
    color: #095e9f;
    font-size: 130%;
    padding-right: 2%;
}

.thisPage a {
    color: #50c0f0;
}

.nav-list {
    display: inline-block;
    float: right;
    width: 55%;
}

.nav-list li {
    display: inline;
    list-style-type: none;
}

.row, .carContainer {
  margin: 0 4% 40px 4%;
}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-small .item img{
    display: block;
    width: 100%;
    height: auto;
}

.rowBox {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    float: left;
    top: 0;
}

#tripleRow:after {
  content: "";
  display: table;
  clear: both;
}

.rowBox p {
    font-size: small;
    line-height: 150%;
}

.rowBox img {
    padding-bottom: 10px;
}

.rowBox a {
    color: black;
    font-size: small;
    font-weight: bold;
}

.smallLink {
    padding-left: 10px;
}

#mainImg {
    margin-bottom: 20px;
}

.topLink {
    background-color: #004e8e;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 125%; 
}

.toggles{    
    display:none;
    padding-top: 30px;
}

.toggles a {
    margin-top: 0px;
    float: right;
    background-color: #50c0f0;
    color: white;
    border-radius: 5px; 
    padding: 10px;
}

.videoBox {
    margin: 0 3% 0 3%;
    padding-bottom: 100px;
    padding-top: 50px;
    
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    text-align: center;
}

.footer p, .footer a{
    color: white;
    font-size: 70%;
    display: inline-block;
}

.footerNav {
    display: inline-block;
}

.footList li {
    display: inline-block;
    list-style-type: none;
    padding-right: 5px;
}

